body{
    background-image: url('../img/background.png') !important;
    background-size: cover ;
    font-family: sans-serif;
}
#main.menu{
    background: rgba(0,0,0,0.3);
}
#nation{
    float: right;
}
menuitem{
    text-decoration-color:#8c9d89 ;
}