<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grimm's Online - Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/ext/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/ext/reset.css">
    <script src="../assets/js/ext/jquery-3.2.0.js"></script>
    <script src="../assets/js/ext/semantic.min.js"></script>
<body>
    <div class="ui padded grid" id="container">
        <div class="ui fluid container">
            <div class="ui equal width grid" id="main">
                <div class="column"></div>
                <div class="column">
                    <div class="ui text massive right floated menu">
                        <a class="item">HOMEPAGE</a>
                        <a class="item">FORUM</a>
                        <a class="item">GALLERY</a>
                        <a class="item">STATISTICS</a>
                        <a class="item">FAQ</a>
                        <a class="item account">ACCOUNT</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui right floated text massive menu">
                        <a><img src="../assets/img/icons/turkey.svg" class="ui mini image"></a>
                    </div>
                </div>
            </div>
            <div class="ui footer">
                <div class="ui equal width grid">
                    <div class="ui left aligned column">
                        <ul>
                            <li class="icon facebook"><a href=""><img src="../assets/img/icons/facebook.svg" alt="facebook"></a></li>
                            <li class="icon twitter"><a href=""><img src="../assets/img/icons/twitter.svg" alt="twitter"></a></li>
                            <li class="icon instagram"><a href=""><img src="../assets/img/icons/instagram.svg" alt="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="ui center aligned column">
                        <p>© 2017 <a href="">Bugcramp Labs.</a> All Right Reserved • <a href="">About</a> • <a
                                href="">Contact Us</a> • <a href="">Privacy & Terms</a></p>
                    </div>
                    <div class="ui right aligned column">
                        <a href="" class="sign_in">SIGN IN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>